.header{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    width: 100%;
    height: 130px;
    padding: 0 40px;
    display: flex;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.logo{
    width: 100%;
    height: auto;
    margin-left: -350px;
    & img{
        width: 150px;
        height: auto;
    }
}

ul{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    color: #fff;
    text-decoration: none;
}

li{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

a{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover{
    color: #ffffff77;
}

.ButtHeader{
    width: 220px;
    height: 50px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.ButtHeader:hover{
    background-color: #8a8989;
    color: #ffffff;
    transform: scale(1.05);
}

.Home{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    background-image: url(../assets/banners/banner-topo-site-unity.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.infos{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 60px;
    margin-bottom: 120px;
}

.infos h1{
    font-size: 70px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.infos p{
    font-size: 25px;
    color: #000000;
    margin-bottom: 20px;
}

.oqueOferecemosSection{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infosOferecemos{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 140px;
}

.linha{
    width: 25%;
    height: 6px;
    background-color: #000000;
    margin-top: 20px;
    border-radius: 30px;
}

.infosOferecemos .tituloSection{
    font-size: 70px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
}

.infosOferecemos .subtituloSection{
    font-size: 25px;
    color: #000000;
    margin-top: 20px;
}

.infosOferecemos .serviçosDIV{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 120px;
    gap: 0 20px;
}

.infosOferecemos .serviços{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.infosOferecemos .circulopreto{
    width: 90px;
    height: 90px;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    & .Icon{
        width: 65px;
        height: 65px;
    }
}

.infosOferecemos .tituloserviço{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-top: 25px;
    text-align: center;
}

.infosOferecemos .subtituloserviço{
    font-size: 15px;
    color: #000000;
    text-align: center;
    margin-top: 15px;
}

.diferencialSection {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px;
}

.diferencialInfos {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 140px;
}

.linha {
    width: 25%;
    height: 6px;
    background-color: #000000;
    margin-top: 20px;
    border-radius: 30px;
}

.diferencialInfos .tituloSection {
    font-size: 70px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
}

.diferencialInfos .subtituloSection {
    font-size: 25px;
    color: #000000;
    margin-top: 20px;
}

.quadradosDiferenciaisDIV{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 120px;
    gap: 0 20px;
}

.quadradoDiferencial {
    width: 260px;
    height: 314px;
    background-color: #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.linhaBranca {
    width: 70%;
    height: 6px;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 30px;
}

.quadradoDiferencial .tituloQuadradoDiferencial {
    font-weight: bold;
    color: #ffffff;
    margin-top: 30px;
}

.textoQuadradoDiferencial{
    font-size: 15px;
    margin-top: 15px;
}